---
import IndexLayout from "../layouts/IndexLayout.astro";

import NavBar from "../components/NavBar.astro";
import ContentWrapper from "../components/ContentWrapper.astro";
import IndexPiece from "../components/IndexPiece.astro";
import SignUp from "../components/SignUp.astro";
import DropDown from "../components/DropDown.astro";
const pieces = [
    {
        "title":"Enjoy on your TV.",
        "body":"Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.",
    },
    {
        "title":"Download your shows to watch offline.",
        "body":"Save your favorites easily and always have something to watch.",
    },
    {
        "title":"Watch everywhere.",
        "body":"Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV without paying more.",
    },
    {
        "title":"Create profiles for kids.",
        "body":"Send kids on adventures with their favorite characters in a space made just for them—free with your membership.",
    }
]
const dropdowns = [
    {
        "title": "What is Netflix?#1",
        "body": "test#1",
        "number":"1"
    },
    {
        "title":"What is Netflix?#2",
        "body":"test2",
        "number":"2"
    },
    {
        "title":"What is Netflix#3",
        "body":"test3",
        "number":""
    }
]
let dropdown_indices = [];
for(let i=0;i<dropdowns.length;i++)
    dropdown_indices.push(i)

let piece_indices = [];
for(let i=0;i<pieces.length;i++)
    piece_indices.push(i)
---
<IndexLayout title="Netflix">
    <NavBar slot="header" logoname="Netflix"/>
    <ContentWrapper slot="header">
        <div class="header-content">
            <h1>Unlimited movies, TV shows, and more.</h1>
            <h2>Watch anywhere. Cancel anytime.</h2>
            <p>Ready to watch? Enter your email to create or restart your membership.</p>
            <SignUp />
        </div>
    </ContentWrapper>
    
    <ContentWrapper slot="content">
        {piece_indices.map(i=>(
            <IndexPiece even_odd={i%2==0? "even":"odd"} title={pieces[i].title} body={pieces[i].body} />
        ))}
        <IndexPiece vertical={true} title="Frequently Asked Questions">
            {dropdown_indices.map(i=>(
                <DropDown title={dropdowns[i].title} body={dropdowns[i].body} number={dropdowns[i].number}/>
            ))}
        </IndexPiece>
    </ContentWrapper>
</IndexLayout>

<script>
    const dropdowns = Array.from(document.getElementsByClassName("dropdown") );
    if(dropdowns){
        dropdowns.map(dropdown=>{
            dropdown.addEventListener("click",()=>{
                //Array.from(document.querySelectorAll(`#${dropdown.id} span`)).map(span=>span.classList.toggle("rotate"));
                dropdown.lastElementChild.classList.toggle("hidden");
                document.querySelectorAll(`#${dropdown.id} div`)[0].classList.toggle("rotate")
            })
        })
    }
</script>