---
export interface Props{
    even_odd?: string;
    vertical?: boolean;
    title:string;
    body?:string;
    animation_url?:string;
    animation_alt?:string;
}
const {even_odd,vertical=false,title,body,animation_url,animation_alt} = Astro.props;
const image_url="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png";
---
<link rel="stylesheet" href="index_piece.css">
{vertical?<div class="vertical"><h2>{title}</h2><main><slot /></main></div>:
<div class="container">
    <div class={even_odd}>
        <h2>{title}</h2>
        <main>{body}</main>
    </div>
    <div class="image_container">
        <img src={image_url} alt={animation_alt}>
    </div>
</div>
}